.lielaisramis {
    margin: 10px;
    padding: 10px;
    width: 50%;
    display: grid;
    border: double;
    grid-template-columns: 30% 70%;
}

.left {
    background-color: rgb(177, 189, 186);
}

.right {
    padding: 10px;
    background-color: rgb(138, 199, 199);
}

ul li {
    text-decoration-line: underline;
    font-style: italic;
}

ol li {
    font-style: italic;
}

body {
    background-color: rgba(0, 255, 255, 0.418);
}
